body {
    font-family: Arial;
    background-color: #f4f4f4;
    margin: 40px;
}

h1 {
    color: #333;
}

a {
    text-decoration: none;
    margin-right: 10px;
    color: blue;
}

li {
    background: white;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    list-style: none;
}

button {
    padding: 8px 15px;
    border: none;
    background: black;
    color: white;
    border-radius: 5px;
}