{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>

    <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}">
</head>
<body>
<form action="/logout/" method="post">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
<h1>Task Manager</h1>

<a href="/tasks/">All</a>
<a href="/tasks/?status=todo">To Do</a>
<a href="/tasks/?status=doing">Doing</a>
<a href="/tasks/?status=done">Done</a>

<a href="/tasks/add/">Add New Task</a>

<ul>
    {% for task in tasks %}
        <li>
            <strong>{{ task.title }}</strong><br>
            {{ task.description }}<br>
            Status: {{ task.status }}<br>
            Category: {{ task.category }}<br>
            Owner: {{ task.owner }}
            <br>
<a href="/tasks/edit/{{ task.id }}/">Edit</a>
<br>

<a href="/tasks/delete/{{ task.id }}/">Delete</a>
        </li>
        <br>
    {% endfor %}
</ul>

</body>
</html>
